.cell {
  --cell-size: calc((84vw - 1px) / 10 - 1px);
  --cell-max-size: 48px;
  --cell-corner: 12%;
  --cell-corner-anti: calc(100% - var(--cell-corner));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--cell-max-size);
  max-height: var(--cell-max-size);
  background: rgba(#fff, 0.1);
  clip-path: polygon(
    var(--cell-corner) 0%,
    var(--cell-corner-anti) 0%,
    100% var(--cell-corner),
    100% var(--cell-corner-anti),
    var(--cell-corner-anti) 100%,
    var(--cell-corner) 100%,
    0% var(--cell-corner-anti),
    0% var(--cell-corner)
  );
  cursor: pointer;

  &.highlight-runner,
  &.highlight-attacker {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    border-radius: 20%;
  }

  &.highlight-runner {
    &::before {
      box-shadow: inset 0 0 4px #14f195;
    }
  }

  &.highlight-attacker {
    &::before {
      box-shadow: inset 0 0 4px #9945ff;
    }
  }

  @media screen and (max-width: 500px) {
    &::after {
      backdrop-filter: blur(3px);
    }
  }

  @media screen and (max-width: 400px) {
    &::after {
      backdrop-filter: blur(2px);
    }
  }
}

.coord {
  opacity: 0;
}

.xCoord,
.yCoord {
  position: absolute;
  font-size: 12px;
  color: #f00;
}

.xCoord {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.yCoord {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.light {
  --light-size: 80%;
  position: absolute;
  z-index: 10;
  top: calc((100% - var(--light-size)) / 2);
  left: calc((100% - var(--light-size)) / 2);
  width: var(--light-size);
  height: var(--light-size);
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  pointer-events: none;
}

.attacker,
.runner {
  --chip-size: 20%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: var(--chip-size);
  height: var(--chip-size);
  border-radius: 50%;
  transition: top 1s linear, left 1s linear;
}

.attacker {
  background: #c766ef;
}

.runner {
  background: #14f195;
}
