.leaderBoard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title,
.subtitle {
  margin: 0;
  color: #fff;
  font-family: 'Kallisto', sans-serif;
  font-style: bold;
  text-align: center;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 18px;
}

.leaders {
  width: 100%;

  td,
  th {
    padding: 2px;
    border: 1px solid #ccc;
  }

  th {
    font-size: 12px;
  }
}

.placement {
  text-align: center;
}
