@font-face {
  font-family: 'Kallisto';
  src: url('/fonts/Kallisto-Medium.woff2') format('woff2'),
    url('/fonts/Kallisto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kallisto';
  src: url('/fonts/Kallisto-Bold.woff2') format('woff2'),
    url('/fonts/Kallisto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kallisto';
  src: url('/fonts/Kallisto-Light.woff2') format('woff2'),
    url('/fonts/Kallisto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
