.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 4px solid;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease;
  // opacity: 0.3;

  &.active {
    transform: scale(1.1);
  }

  &.disabled {
    cursor: not-allowed;
  }

  @media screen and (max-width: 500px) {
    border-width: 3px;
    font-size: 10px;
  }

  @media screen and (max-width: 400px) {
    border-width: 2px;
    font-size: 8px;
  }
}

.attacker {
  border-color: #f087ff;
  background-color: #6e1fce;

  &.disabled {
    border-color: #4f1398;
  }
}

.runner {
  border-color: #19fb9b;
  background-color: #005f59;

  &.disabled {
    border-color: #023c38;
  }
}

.enemy {
  background-color: #aaa;
}
